<!DOCTYPE html>
<html>
	 <head>
		  <title><%= title %></title>
		  <link rel="stylesheet" type="text/css" href="css/style.css">
		  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	 </head>
	 <body>
		  <header><%= title %></header>
		  <nav>
				<a id="sign" href="./login">sign in</a>
				<a id="sign" href="./login/signup">sign up</a>
		  </nav>

		  <form action="/circle" method="GET">
			<input type="submit" value="GOTOCIRCLE">
		  </form>
	 </body>
</html>
