<html>
    <head></head>
    <body>
    <form action="/circle/create" method="POST">
        Name<input type="text", name="name">
        Party<input type="text", name="party">
        Room Existence<input type="text", name="roomExistence">
        <input type="submit" value="Add Contact">
    </form>
    <form action="/" method="GET">
        Circle Name<input type="text", name="name">
        <input type="submit" value="FIND ME">
    </body>
</html>