<html>
    <head></head>
    <body>
    <form action="/user/create" method="POST">
        Name<input type="text", name="name">
        Student ID<input type="text", name="studentId">
        <input type="submit" value="Add Contact">
    </form>
    <form action="/user/read" method="GET">
        User Name<input type="text", name="name">
        <input type="submit" value="FIND ME">
    </body>
</html>