<html>
    <head>
        <title><%= title %></title>
        <style> 
            input{
                width : 300px;
                height : 30px;
				margin-left : 300px;
            }
        </style>
		  <link rel="stylesheet" type="text/css" href="css/style.css">
		  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        <header><%= title %></header>
		  <nav><a href='signup'>SIGN UP</a></nav>
		  <section>
				<form>
					 <input type='text'  id = 'ID' name = 'ID' placeholder='ID' size='25'/><br/>
					 <input type='password' id ='PW' name ='PW' placeholder='PW' size='25'/><br/>
					 <input type='submit' id ='submit' value='SIGN IN' style="width:300px"/><br/>
					<input type='button' id ='button' value='Forget Password?' style="width:300px"/><br/>
				</form>
		  </section>
    </body>
	 <script>
		  $("input").attr("autocomplete","off");
	 </script>
</html>
