<html>
    <head>
        <title><%= title %></title>
        <style> 
            input{
                width : 300px;
                height : 30px;
            }
        </style>
		  <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <header><%= title %></header>
        <form>
            <input type='text'  id = 'ID' name = 'ID' placeholder='ID' size='25'/><br/>
            <input type='password' id ='PW' name ='PW' placeholder='PW' size='25'/><br/>
            <input type='submit' id ='submit' value='SIGNIN' style="width:100px"/><br/>
				<a href='signup'>SIGNUP</a>
        </form>
    </body>
</html>
