<!DOCTYPE html>
<html>
<head>
	 <title>A-Dong Sign up</title>
	 <meta charset='utf-8'>
	 <script src='https://code.jquery.com/jquery-1.10.2.js'></script>
	 <link rel='stylesheet' type='text/css' href='css/style.css'/>
</head>
<body>
	 <header><%= title %></header>

	 <nav>
		  <a href='/login'>Sign in</a>
	 </nav>

	 <section>
		  <form class='sign_info'>
			  <label>ID</label><br/>
			  <input type='text' id='ID' name ='ID' placeholder='ID'/><br/>
			  <label>Password</label><br/>
			  <input type='password' id='PW' name ='PW' placeholder='PW'/><br/>
			  <label>Department</label><br/>
			  <input type='text' id='department' name ='department' placeholder='DEPARTMENT'/><br/>
			  <label>Student ID</label><br/>
			  <input type='number' id='stu_ID' name='stu_ID' placeholder='STUDENT ID'/><br/>
			  <label>Email Address</label>
			  <div class='email'>
				  <input type='text' id='email_front' name='email_front' placeholder='Email ID'/> @ <input type='text' id='email_back' name ='email_back' placeholder='Email Address'/>
				  <select class='email_select'>
					  <option selected value=''>direct input</option>
					  <option value='naver.com'>naver.com</option>
					  <option value='gmail.com'>gmail.com</option>
				  </select>
			  </div>

				<!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 class를 부여한다 -->
			  <form class ='address' action=''>
				  <label>Address</label><br/>
				  <input type='text' name='post_num' id='post_num' class='postcodify_postcode5' placeholder='POST Num' size='50' />
				  <button type='button' id='postcodify_search_button'>Search</button><br/>
				  <input type='text' name='road_name' id='road_name' class='postcodify_address' placeholder='ROAD Name' size='50'/><br/>
				  <input type='text' name='detail_address' id='detail_address' class='postcodify_details' placeholder='Detail Addr' size='25' />
				  <input type='text' name='reference_address' id='reference_address' class='postcodify_extra_info' placeholder='Reference Addr' size='19' /><br/>
			  </form>

			  <input type='submit' value = 'Submit' style='color:green;'/>
		  </form>
	 </section>
</body>
<script>
	 //Email Select
	 $('select.email_select').on('change', ()=>{
		  let str=$('select.email_select').val();

		  $('#email_back').val(str);
	 });
	 $('input').attr('autocomplete','off');
</script>

<!-- jQuery와 Postcodify를 로딩한다 -->
<script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
<script src='//d1p7wdleee1q2z.cloudfront.net/post/search.min.js'></script>

<!-- '검색' 단추를 누르면 팝업 레이어가 열리도록 설정한다 -->
<script> $(function() { $('#postcodify_search_button').postcodifyPopUp(); }); </script>
</html>
