<!DOCTYPE html>
<html>
<head>
    <title>A-Dong Circle Register</title>
    <meta charset='utf-8'>
    <script src='https://code.jquery.com/jquery-1.10.2.js'></script>
    <link rel='stylesheet' type='text/css' href='css/circle_style.css'/>
</head>
<body>
    <header><%=title%></header>
    <section>
        <form>
        <table>
            <tr>
                <td>동아리 이름</td>
                <td><input type='text' id='CircleName' name ='CircleName' placeholder='Name'/></td>
                <td>동아리 회원 수</td>
                <td><input type='number' id='Number' name ='Number' placeholder='number'/></td>
            </tr>
            <tr>
                <td>동아리 연락처</td>
                <td><input type='tel' id='phoneNum' name ='phoneNum' placeholder='phoneNumber'/></td>
                <td>동아리 결성일</td>
                <td><input type='number' id='phoneNum' name ='create_date' placeholder='(ex)20181103'/></td>
            </tr>
            <tr>
                <td>회장 이름</td>
                <td><input type='text' id='leader_name' name ='leader_name' placeholder='leader_name'/></td>
                <td>회장 연락처</td>
                <td><input type='tel' id='leader_phoneNum' name ='leader_phoneNum' placeholder='leader_phoneNum'/></td>
            </tr>
            <tr>
                <td>부회장 이름</td>
                <td><input type='text' id='subleader_name' name ='subleader_name' placeholder='subleader_name'/></td>
                <td>부회장 연락처</td>
                <td><input type='tel' id='subleader_phoneNum' name ='subleader_phoneNum' placeholder='subleader_phoneNum'/></td>
            </tr>
            <tr>
                <td> 동아리 활동분야 </td>
                <td>
                    <label>
                    <input type='radio' name='field' value='music' checked> Music
                    <input type='radio' name='field' value='exercise'> Exercise
                    <input type='radio' name='field' value='study'> study <br>
                    </label>
                </td>
            </tr>
            <tr>
                <td> 동아리 소속 </td>
                <td>
                    <select name='category1'>
                        <option value='CentralClub'>중앙동아리</option>
                        <option value='smallCircles'>소학회</option>
                    </select>
                    <select name='category2'>
                        <option value='Tech'>공대</option>
                        <option value='Info'>정통대</option>
                        <option value='Sosc'>사과대</option>
                        <option value='Nurse'>간호대</option>
                    </select>
                    <select name='category3'>
                        <option value='Software'>소프트웨어학과</option>
                        <option value='Media'>미디어학과</option>
                        <option value='Electric'>전자공학과</option>
                        <option value='Security'>사이버보안학과</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td >동아리 활동목적</td>
                <td ><input type='text' id='purpose' name ='purpose'/></td>
            </tr>
            <tr>
                <td>동아리 활동내역</td>
                <td><input type='text' id='contents' name ='CircleName' /></td>
            </tr>
        </table>
        </form>

        <input type='button' class='below_input' value = '이전으로' style='margin-left : 250px'/>
        <input type='submit' class='below_input' value = '제출'/>
    </section>
</body>
</html>